In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("public_emdat_natural_disaster_data_USA_2000_2024.xlsx")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     614 non-null    object
 1   Historic                                   614 non-null    object
 2   Classification Key                         614 non-null    object
 3   Disaster Group                             614 non-null    object
 4   Disaster Subgroup                          614 non-null    object
 5   Disaster Type                              614 non-null    object
 6   Disaster Subtype                           614 non-null    object
 7   External IDs                               30 non-null     object
 8   Event Name                                 104 non-null    object
 9   ISO                                        614 non-null    object
 10  Country                                    614 non-null    object
 11  Subregion                                  614 non-null    object
 12  Region                                     614 non-null    object
 13  Location                                   613 non-null    object
 14  Origin                                     135 non-null    object
 15  Associated Types                           295 non-null    object
 16  OFDA/BHA Response                          614 non-null    object
 17  Appeal                                     614 non-null    object
 18  Declaration                                614 non-null    object
 19  AID Contribution ('000 US$)                0 non-null      float64
 20  Magnitude                                  204 non-null    float64
 21  Magnitude Scale                            610 non-null    object
 22  Latitude                                   61 non-null     float64
 23  Longitude                                  61 non-null     float64
 24  River Basin                                48 non-null     object
 25  Start Year                                 614 non-null    int64
 26  Start Month                                614 non-null    int64
 27  Start Day                                  581 non-null    float64
 28  End Year                                   614 non-null    int64
 29  End Month                                  611 non-null    float64
 30  End Day                                    583 non-null    float64
 31  Total Deaths                               468 non-null    float64
 32  No. Injured                                190 non-null    float64
 33  No. Affected                               255 non-null    float64
 34  No. Homeless                               97 non-null     float64
 35  Total Affected                             385 non-null    float64
 36  Reconstruction Costs ('000 US$)            0 non-null      float64
 37  Reconstruction Costs, Adjusted ('000 US$)  0 non-null      float64
 38  Insured Damage ('000 US$)                  248 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        243 non-null    float64
 40  Total Damage ('000 US$)                    467 non-null    float64
 41  Total Damage, Adjusted ('000 US$)          450 non-null    float64
 42  CPI                                        591 non-null    float64
 43  Admin Units                                570 non-null    object
 44  Entry Date                                 614 non-null    object
 45  Last Update                                614 non-null    object
dtypes: float64(19), int64(3), object(24)
memory usage: 220.8+ KB

In [11]:
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,200500.0,354778.0,210000.0,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,450000.0,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25

In [4]:
missing_percentage = (df.isnull().sum()/len(df))*100

print(missing_percentage)

DisNo.                                         0.000000
Historic                                       0.000000
Classification Key                             0.000000
Disaster Group                                 0.000000
Disaster Subgroup                              0.000000
Disaster Type                                  0.000000
Disaster Subtype                               0.000000
External IDs                                  95.114007
Event Name                                    83.061889
ISO                                            0.000000
Country                                        0.000000
Subregion                                      0.000000
Region                                         0.000000
Location                                       0.162866
Origin                                        78.013029
Associated Types                              51.954397
OFDA/BHA Response                              0.000000
Appeal                                         0.000000
Declaration                                    0.000000
AID Contribution ('000 US$)                  100.000000
Magnitude                                     66.775244
Magnitude Scale                                0.651466
Latitude                                      90.065147
Longitude                                     90.065147
River Basin                                   92.182410
Start Year                                     0.000000
Start Month                                    0.000000
Start Day                                      5.374593
End Year                                       0.000000
End Month                                      0.488599
End Day                                        5.048860
Total Deaths                                  23.778502
No. Injured                                   69.055375
No. Affected                                  58.469055
No. Homeless                                  84.201954
Total Affected                                37.296417
Reconstruction Costs ('000 US$)              100.000000
Reconstruction Costs, Adjusted ('000 US$)    100.000000
Insured Damage ('000 US$)                     59.609121
Insured Damage, Adjusted ('000 US$)           60.423453
Total Damage ('000 US$)                       23.941368
Total Damage, Adjusted ('000 US$)             26.710098
CPI                                            3.745928
Admin Units                                    7.166124
Entry Date                                     0.000000
Last Update                                    0.000000
dtype: float64

In [5]:
#Dropping columns with more than 85% missing values
columns_to_be_dropped = [
                        "External IDs", "AID Contribution ('000 US$)", "Latitude", "Longitude", "River Basin",
                        "Reconstruction Costs ('000 US$)", "Reconstruction Costs, Adjusted ('000 US$)", 
                        "Admin Units"
                        ]
df = df.drop(columns=columns_to_be_dropped)

In [6]:
#Lets make a copy of the dataframe and clean column headers for loading to database purposes
df_db = df.copy()

In [8]:
#Rename columns to make it suitable for database use
rename_columns = {
    'DisNo.': 'disaster_number',
    'Historic': 'historic',
    'Classification Key': 'classification_key',
    'Disaster Group': 'disaster_group',
    'Disaster Subgroup': 'disaster_subgroup',
    'Disaster Type': 'disaster_type',
    'Disaster Subtype': 'disaster_subtype',
    'Event Name': 'event_name',
    'ISO': 'iso_code',
    'Country': 'country',
    'Subregion': 'subregion',
    'Region': 'region',
    'Location': 'location',
    'Origin': 'origin',
    'Associated Types': 'associated_types',
    'OFDA/BHA Response': 'ofda_bha_response',
    'Appeal': 'appeal',
    'Declaration': 'declaration',
    'Magnitude': 'magnitude',
    'Magnitude Scale': 'magnitude_scale',
    'Start Year': 'start_year',
    'Start Month': 'start_month',
    'Start Day': 'start_day',
    'End Year': 'end_year',
    'End Month': 'end_month',
    'End Day': 'end_day',
    'Total Deaths': 'total_deaths',
    'No. Injured': 'num_injured',
    'No. Affected': 'num_affected',
    'No. Homeless': 'num_homeless',
    'Total Affected': 'total_affected',
    "Insured Damage ('000 US$)": 'insured_damage_000s_usd',
    "Insured Damage, Adjusted ('000 US$)": 'insured_damage_adjusted_000s_usd',
    "Total Damage ('000 US$)": 'total_damage_000s_usd',
    "Total Damage, Adjusted ('000 US$)": 'total_damage_adjusted_000s_usd',
    'CPI': 'cpi',
    'Entry Date': 'entry_date',
    'Last Update': 'last_update'
}

df_db.rename(columns=rename_columns, inplace=True)

df_db.columns.to_list()

['disaster_number',
 'historic',
 'classification_key',
 'disaster_group',
 'disaster_subgroup',
 'disaster_type',
 'disaster_subtype',
 'event_name',
 'iso_code',
 'country',
 'subregion',
 'region',
 'location',
 'origin',
 'associated_types',
 'ofda_bha_response',
 'appeal',
 'declaration',
 'magnitude',
 'magnitude_scale',
 'start_year',
 'start_month',
 'start_day',
 'end_year',
 'end_month',
 'end_day',
 'total_deaths',
 'num_injured',
 'num_affected',
 'num_homeless',
 'total_affected',
 'insured_damage_000s_usd',
 'insured_damage_adjusted_000s_usd',
 'total_damage_000s_usd',
 'total_damage_adjusted_000s_usd',
 'cpi',
 'entry_date',
 'last_update']

In [16]:
missing_percentage = (df_db.isnull().sum()/len(df_db))*100

print(missing_percentage)

disaster_number                      0.000000
historic                             0.000000
classification_key                   0.000000
disaster_group                       0.000000
disaster_subgroup                    0.000000
disaster_type                        0.000000
disaster_subtype                     0.000000
event_name                          83.061889
iso_code                             0.000000
country                              0.000000
subregion                            0.000000
region                               0.000000
location                             0.162866
origin                              78.013029
associated_types                    51.954397
ofda_bha_response                    0.000000
appeal                               0.000000
declaration                          0.000000
magnitude                           66.775244
magnitude_scale                      0.651466
start_year                           0.000000
start_month                          0.000000
start_day                            5.374593
end_year                             0.000000
end_month                            0.488599
end_day                              5.048860
total_deaths                        23.778502
num_injured                         69.055375
num_affected                        58.469055
num_homeless                        84.201954
total_affected                      37.296417
insured_damage_000s_usd             59.609121
insured_damage_adjusted_000s_usd    60.423453
total_damage_000s_usd               23.941368
total_damage_adjusted_000s_usd      26.710098
cpi                                  3.745928
entry_date                           0.000000
last_update                          0.000000
dtype: float64

In [17]:
#Let us clean date fields and fill missing values

# Fill any remaining missing start_day values with 1
df_db['start_day'] = df_db['start_day'].fillna(1)

# Fill missing values for 'end_month' with the corresponding 'start_month'
df_db['end_day'] = df_db['end_day'].fillna(df_db['start_day'])
df_db['end_day'] = df_db['end_day'].fillna(1)

# Fill missing values for 'end_month' with the corresponding 'start_month'
df_db['end_month'] = df_db['end_month'].fillna(df_db['start_month'])

In [18]:
df_db[['start_day', 'end_day','end_month']].isnull().sum()

start_day    0
end_day      0
end_month    0
dtype: int64

In [19]:
# Ensure no non-integer values
df_db[['start_year', 'start_month', 'start_day']] = df_db[['start_year', 'start_month', 'start_day']].astype(int)
df_db[['end_year', 'end_month', 'end_day']] = df_db[['end_year', 'end_month', 'end_day']].astype(int)

# Confirm the data types
print(df_db[['start_year', 'start_month', 'start_day']].dtypes)
print(df_db[['end_year', 'end_month', 'end_day']].dtypes)

start_year     int64
start_month    int64
start_day      int64
dtype: object
end_year     int64
end_month    int64
end_day      int64
dtype: object

In [20]:
# Ensure no unexpected nulls or invalid values
print(df_db[['start_year', 'start_month', 'start_day', 'end_year', 'end_month', 'end_day']].isna().sum())

start_year     0
start_month    0
start_day      0
end_year       0
end_month      0
end_day        0
dtype: int64

In [21]:
# Create a new column to store the combined date as a string
df_db['start_date_str'] = df_db['start_year'].astype(str) + '-' + \
                          df_db['start_month'].astype(str).str.zfill(2) + '-' + \
                          df_db['start_day'].astype(str).str.zfill(2)

df_db['end_date_str'] = df_db['end_year'].astype(str) + '-' + \
                        df_db['end_month'].astype(str).str.zfill(2) + '-' + \
                        df_db['end_day'].astype(str).str.zfill(2)

In [22]:
# Convert the string to a datetime field
df_db['start_date'] = pd.to_datetime(df_db['start_date_str'], errors='coerce')
df_db['end_date'] = pd.to_datetime(df_db['end_date_str'], errors='coerce')

In [23]:
# Drop the temporary string columns
df_db.drop(['start_date_str', 'end_date_str'], axis=1, inplace=True)

In [24]:
#Create a field days_lasted which measures total #days a disaster lasted 
df_db['days_lasted'] = (df_db['end_date'] - df_db['start_date']).dt.days

In [25]:
#Create a reference list of U.S. states and global provinces
us_states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", 
    "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", 
    "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", 
    "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", 
    "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", 
    "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", 
    "Virginia", "Washington province", "West Virginia", "Wisconsin", "Wyoming"
]

In [26]:
# Function to extract states from location column
def extract_states(location):
    if isinstance(location, str):
        extracted_states = [state for state in us_states if state in location]
        return ', '.join(extracted_states) if extracted_states else None
    return None

In [27]:
# Apply function to location column
df_db['extracted_states'] = df_db['location'].apply(extract_states)

In [28]:
df_db['extracted_states'].head(10)

0                      Kentucky
1    Alabama, Arkansas, Georgia
2                Kentucky, Ohio
3                       Florida
4                         Texas
5                      Missouri
6                    New Mexico
7                      Oklahoma
8                       Florida
9                         Texas
Name: extracted_states, dtype: object

In [171]:
df_db['start_year'] = pd.to_datetime(df_db['start_date']).dt.year
df_db['start_month'] = pd.to_datetime(df_db['start_date']).dt.month

In [172]:
# Define thresholds for severity levels
def severity_category(row):
    if row['total_deaths'] >= 100 or row['total_damage_000s_usd'] >= 1_000_000_000:
        return 'High'
    elif row['total_deaths'] >= 10 or row['total_damage_000s_usd'] >= 100_000_000:
        return 'Medium'
    else:
        return 'Low'
    
df_db['disaster_severity'] = df_db.apply(severity_category, axis=1)

In [173]:
df_db['disaster_severity'].head()

0       Low
1    Medium
2       Low
3       Low
4       Low
Name: disaster_severity, dtype: object

In [ ]:
#!pip install --no-cache-dir --no-binary :all: psycopg2

In [12]:
import psycopg2

try:
    conn = psycopg2.connect(
        dbname="disaster_data",
        user="myuser",
        password="myveryownDB",
        host="localhost",
        port="5432"
    )
    print("✅ Successfully connected to PostgreSQL!")
    conn.close()
except Exception as e:
    print(f"❌ Connection error: {e}")

✅ Successfully connected to PostgreSQL!

In [13]:
# Reconnect
conn = psycopg2.connect(
    dbname="disaster_data",
    user="myuser",
    password="myveryownDB",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

# Query to check if any tables exist
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
tables = cursor.fetchall()

if tables:
    print("✅ Tables found in the database:")
    for table in tables:
        print(table[0])
else:
    print("❌ No tables found in the database.")

# Close connection
conn.close()

❌ No tables found in the database.